<br>
<br>
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    <div class="col-md-6">
        <label for="inputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="inputAge">
      </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-md-6">
        <label for="inputPhoneno" class="form-label">Phoneno</label>
        <input type="number" class="form-control" id="inputPhoneno">
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-6">
        <label for="inputCountry" class="form-label">Country</label>
        <input type="text" class="form-control" id="inputCountry">
      </div>
      <div class="col-md-6">
        <label for="inputPincode" class="form-label">Pincode</label>
        <input type="number" class="form-control" id="inputPincode">
      </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="number" class="form-control" id="inputZip">
    </div>
   
      <div>  
        <label>   
        Trainer Preference :  
        </label><br>  
        <input type="radio" value="Male" name="gender" checked > Male   
        <input type="radio" value="Female" name="gender"> Female   
        <input type="radio" value="No preference" name="gender"> No preference  
          
        </div>  
        <label> 
            <div>  
                <label>   
                Do you need physiotherapist :  
                </label><br>  
                <input type="radio" value="Yes" name="gender" checked > Yes  
                <input type="radio" value="No" name="gender"> No   
                
                  
                </div>  
                <label> 
                    <br>
                    <div>  
                        <label>   
                            Select a package :  
                        </label><br>  
                        <input type="radio" value="One time appointment(Rs 500/-)" name="gender" checked > One time appointment(Rs 500/-)   
                        <input type="radio" value="4 seesions per week(Rs 400/- per session)" name="gender"> 4 seesions per week(Rs 400/- per session)  
                        <input type="radio" value="5 seesions per week(Rs 300/- per session)" name="gender"> 5 seesions per week(Rs 300/- per session)  
                        
                        </div>  
                        <label>  
                            <br>
                            <div class="col-md-6">
                                <label for="inputWeeks" class="form-label">Weeks</label>
                                <input type="number" class="form-control" id="inputWeeks">
                              </div> 
                              <div class="col-md-6">
                                <label for="inputAmount" class="form-label">Amount</label>
                                <input type="text" class="form-control" id="inputAmount">
                              </div>
                              <br>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <br>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
 
