<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
            font-size: 70px;
            font-weight: 700;
            letter-spacing: 8px;
            margin-bottom: 20px;
            background: yellowgreen;
            position: relative;
            animation: text 3s 1;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>
<br>
<br>


<div class="container">
  <img src="https://b.fitn.in/f/g/full/13382/13382_1616668469584.jpg" alt="Snow" style="width:100%;">
  
  <div class="centered">Welcome to Health Club</div>
  
</div>

</body>
</html> 

